@charset "UTF-8";
/* CSS Document */



@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

@import url('https://fonts.googleapis.com/css?family=Rock+Salt');


body {
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
	background-color:#DB5D00;
	width: 660px;
	margin: auto;
	padding-bottom: 15px;
}

h1 {
    font-family: 'Rock Salt', cursive;
	font-weight:normal;
	text-align:center;
	padding: 10px;
	font-size: 2em;
	background-color:black;
	color: #B20D00;
    }

h2, h3, h4 {
    
    font-family: 'Rock Salt', cursive;
	font-weight:normal;
	text-align:center;
	padding: 10px; 
	background-color:black;
	color: #B20D00;

}


a  {
    background-color: #FF9C00;
    padding: 5px;
    color: black;
    font-size: 1.4em;
    border: solid;
    line-height: 4;
    
}
a:hover {
    color:white;
    box-shadow: 4px 4px 5px black
    
}

nav {
    padding: 30px;
    color:black;
    font-family: 'Rock Salt', cursive;
    font-size: .7em;
    
    }

nav li {
    background-color: #FF9C00;
    padding: 5px;
    color: black;
    border: solid;
    line-height: 4;
    display:inline;
    
}

section {
    background-color: black;
    text-align: center;
    
}

p {

    padding-left: 70px;
    padding-right: 70px;
    
}

footer{
    line-height: .7;
    display:inline-block;
    font-size:.5em;
    padding: 40px;
    text-align-last: center;
    margin-left: 170px 
    
}


fieldset {
    margin: 30px
}
